:root{
    --card-width: 125px;
    --card-height: 175px;
}
.card-down, .card-up{

    width: 125px;
    height: 175px;
    backface-visibility: hidden;
    border-radius: 5px;
    transition-duration: .3s;
    margin: auto;
}
.card-down{
    background-color: red;
    /* background-image: url(pics/red-hangry.png); */
    border-radius: 5px;
    transition-duration: .3s;
}
.card-up{
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg);
}
.flipped .card-down{
    transform: rotateY(180deg);
}
.flipped .card-up{
    transform: rotateY(180deg);
}


/* .image-1 .card-up{
background-image: url(pics/Myproject.png);

}

.image-2 .card-up{
    background-image: url(pics/red-hangry.png);
} */