:root{
    --card-width: 125px;
    --card-height: 175px;
}

* {
    margin: 0;
    padding: 0;
    background-color:  #606C38;
    font-family: 'Luckiest Guy', cursive;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5%;
    color: #FEFAE0;
    font-size: 50px;
}



.card-down, .card-up{
   
    width: 125px;
    height: 175px;
    border-radius: 5px;
    transition-duration: .3s;
    margin: auto;
}
.card-down{
    background-color: #FEFAE0;
    border-radius: 5px;
    transition-duration: .3s;
}
.card-up{
    background-position: center;
    background-size: cover;
    /* transform: rotateY(180deg); */
    background-color: aliceblue;
}
.card-down.flipped{
    transform: rotateY(180deg);
}
.card-up.card-down.flipped{
    transform: rotateY(180deg);
    background-color: aliceblue;
}


/* .image-1 .card-up{
background-image: url(pics/Myproject.png);

}

.image-2 .card-up{
    background-image: url(pics/red-hangry.png);
} */








/* control buttons */

.btn-group button {    
    display: flex;
    float: left;
    margin-left: 10px;
}


#reshufflebtn {
    text-align: center;
    align-self: center;
    border-radius: 5px;
    background-color: #283618;
    color: #FEFAE0;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#reshufflebtn:hover {
    background-color: #FEFAE0;
    color: #283618;
}

#reselectbtn {
    text-align: center;
    align-self: center;
    border-radius: 5px;
    background-color: #283618;
    color: #FEFAE0;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#reselectbtn:hover {
    background-color: #FEFAE0;
    color: #283618;
}

#resultbtn {
    text-align: center;
    align-self: center;
    border-radius: 5px;
    background-color: #283618;
    color: #FEFAE0;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#resultbtn:hover {
    background-color: #FEFAE0;
    color: #283618;
}