 * {
     font-family: 'Luckiest Guy', cursive;
     background-color: #606C38;
 }
 
 .logo {
     display: flex;
     margin-left: 40%;
 }
 
 h1 {
     display: flex;
     align-items: center;
     justify-content: center;
     /* background-color: darkkhaki; */
     padding: 10px;
     margin: 5%;
     color: #FEFAE0;
     font-size: 100px;
 }
 
 .list {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     flex-direction: row;
     flex: 33.33%;
     margin: 50px;
 }
 
 span {
     color: #FEFAE0;
 }

 label {
     margin-left: 30px;
 }
 
 .hide {
     display: none;
 }
 
 .welcomebtn {
     justify-content: center;
     align-content: center;
     text-align: center;
     display: grid;
     margin: auto;
     padding: 30px;
     border-radius: 5px;
     font-size: 18px;
     font-weight: bold;
     
 }
 
 .welcomebtn {
     background-color: #283618;
     color: #FEFAE0;
 }

 #next {
     background-color: #283618;
     color: #FEFAE0;
     font-size: 18px;
     font-weight: bold;
     border-style: none;
     border-radius: 5px;
     display: grid;
     justify-content: center;
     align-content: center;
     text-align: center;
     margin: auto;
     padding: 13px;
     
 }

 .nextbtn {
     margin-left: 35px;
 }

/* change checkbox color on hover */
 checkbox:hover {
     background-color: ghostwhite;
 }

 /* change checkbox color on click */


 .welcomebtn:hover {
    background-color: #566b0f;
}

.nextbtn:hover {
    background-color: #566b0f;
}