* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: darkkhaki; */
    padding: 10px;
    margin: 0px;
}

.list {}

.hide {
    display: none;
}