
 body {
     font-family: 'Luckiest Guy', cursive;
     background-color: #606C38;
 }
 
 .logo {
     display: flex;
     margin-left: 40%;
 }
 
 h1 {
     display: flex;
     align-items: center;
     justify-content: center;
     /* background-color: darkkhaki; */
     padding: 10px;
     margin: 5%;
     color: #FEFAE0;
     font-size: 100px;
 }
 
 .list {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     flex-direction: row;
     flex: 33.33%;
     margin: 50px;
 }
 

 label {
     margin-left: 30px;
 }

.logo {
    display: flex;
    margin-left: 40%;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5%;
    color: #FEFAE0;
    font-size: 100px;
}


.list span {
    color: #FEFAE0;
    font-size: 36px;
    line-height: 2;
}

.list input {
  margin: 1%;
}

span {
    margin-bottom: 10px;
    float: left;
}

.hide {
    display: none;
}

.welcomebtn {
    text-align: center;
    display: grid;
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    background-color: #283618;
    color: #FEFAE0;
    font-weight: bold;
    font-size: 20px;
}

.buttonHolder{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-bottom: 10%;
}

.nextbtn {
    text-align: center;
    align-self: center;
    border-radius: 5px;
    background-color: #283618;
    color: #FEFAE0;
    font-weight: bold;
    font-size: 20px;
}

.welcomebtn:hover {
    background-color: #FEFAE0;
    color: #283618;
}


#next:hover {
    color: #566b0f;
    background-color: #FEFAE0;
}
